<!DOCTYPE html>

<html>

<head>
	<title>EatExact</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='style_login.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='setDefaults.css') }}" />
</head>

<body>
	<!-- FOllowing Single Column Layout-->
	<div class="navbar">
		<div class="logo">
			<a href="#"><img height = '150px' src = "{{ url_for('static',filename='assets/Logo_EE.png') }}"></a>
			<header>Eat Exact</header>
		</div>
		<div class="nav-btn">
			<button><a href="#">Login </a></button>
			<button><a href="#">Sign Up </a></button>
			<button><a href="#">About Us </a></button>

		</div>
	</div>
	<section class="poster">
		<img src="../static/assets/cover-graphic.png" alt="">
		<pre style="font-size: 34pt;">Make Impact, Eat Exact</pre>
	</section>
	<section class="login-forms">

		<form action="#" method="post" id="customer_login">
			<input type="hidden" name="form_id" value="customer">
			<label for="name">Hotel ID :</label>	
			<input type="text" id="input_hotel_id" name="hotel_id">
			<label for="name">Room Number :</label>	
			<input type="text" id="input_room_number" name="room_number">
			<label for="name">Customer Name :</label>	
			<input type="text" id="input_customer_name" name="customer_name">
			<input type="submit" value="submit">
		</form>

		<form action="#" method="post" id="manager_login">
			<input type="hidden" name="form_id" value="manager">
			<label for="name">Hotel ID :</label>	
			<input type="text" id="input_hotel_id" name="hotel_id">
			<label for="name">Password :</label>	
			<input type="password" id="input_password" name="password">
			<input type="submit" value="submit">
		</form>
	</section>


	<!-- Eat WHat you (desire)-cut NEED -->
</body>

</html>