


/*Setting Up The NavBar Of Landing Page*/
.navbar{
    /* background-color: orange; */
    /* position: sticky; */
    height: 7em;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    box-shadow: var(--downShadow);


}

.logo{
    height:inherit;
    display: flex;
    align-items:center;
    margin: 0px 1em;
}
.logo a{
    text-decoration: none;
}
.logo img{
    height: 8vw;
    min-height:6em;
}
.logo header{
    position: relative;
    left: -.8em;
    /* top: -0.2em; */
    color: var(--primaryColor);
    font-size:30pt;
    font-family : 'prompt', sans-serif;
    font-weight: 600;
}

.nav-btn{
    margin: 0px 1em;
    display: flex;
    gap: 0.25vw;

}
.nav-btn button{
    width: 7.5em;
    height: 3em;
    border-radius: 5px;
    border: 1px solid white;
    transition: border 0.25s cubic-bezier(.66,.39,.21,.67);
}

.nav-btn button:hover{
    border: 1px solid var(--primaryColor);
}
.nav-btn button:active{
    background-color:  var(--primaryFade);
    
}
.nav-btn a{
    text-decoration: none;
    color: var(--black);
    font-family: 'Alef', sans-serif;
    font-size: 14pt;
    font-weight: bold;
}
